---

name: test
on:
  pull_request:
  push:
    branches: [master]
jobs:
  perl_test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        perl-version:
          - '5.10-buster'
          - latest
    container:
      image: perl:${{ matrix.perl-version }}
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - name: perl version
        run: perl -V
      - name: Install minilla
        run: cpanm -n Minilla
      - name: Mark workspace as safe for git
        run: git config --global --add safe.directory "$GITHUB_WORKSPACE"
      - name: minil test
        run: minil test
